* {
    box-sizing: border-box;
}

main {
    background-color: #edecea;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}

button {
    width: 150px;
    background-color:#49274a ;
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color:#94618e;
}

/*---------------------- Hero Section --------------------------*/

#hero {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 700px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    color: white; 
}

#hero:after {
    content: "";
    position: absolute;
    background-image: url("https://source.unsplash.com/iLO2h51gsYA/2000x2000");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8; 
}

#greeting-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#greeting {
    font-family: 'Varela Round', sans-serif;
    padding-top: 75px;
    margin-top: 0;
}

#remove-instructions {
    color: white;
    display: block;
    padding-top: 5px;
}

#remove-instructions:hover {
    color: #c09f80;
}

#search-form {
    margin-left: auto;
    margin-right: auto;
}
#text-area {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    resize: none;
}

fieldset {
    border: none;
}   

/*---------------------- Error Section --------------------------*/

#error-container {
    background-color:#c09f80;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
}
#empty-error {
    color: white;
}

/*---------------------- Results Section --------------------------*/

#results {
    width: 100%; 
    max-width: 1000px;
    margin-left:auto;
    margin-right: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

/*---------------------- Recipe Section --------------------------*/

.recipe-card {
    width: 200px;
    margin: 15px 15px;
    text-align: center;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    text-decoration: none;
    background-color: white;
    -webkit-box-shadow: 6px 6px 10px -6px rgba(143,143,143,0.92);
    -moz-box-shadow: 6px 6px 10px -6px rgba(143,143,143,0.92);
    box-shadow: 6px 6px 10px -6px rgba(143,143,143,0.92);
}

.recipe-card > a {
    text-decoration: none;
}

.recipe-card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-card:hover {
    transform: scale(1.1); 
}

.recipe-card-title {
    font-size: 16px; 
    color: #000;
    padding: 8px;
}

#show-more-recipes {
    margin-left: auto; 
    margin-right: auto;
}

/*---------------------- Nutrition Analysis Section -------------------------- */


#calories-card {
    margin-top: 20px;
}

#macros-chart-card, #micros-chart-card, #calories-card {
    width: 100%;
    background-color: white;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 6px 6px 10px -6px rgba(143,143,143,0.92);
    -moz-box-shadow: 6px 6px 10px -6px rgba(143,143,143,0.92);
    box-shadow: 6px 6px 10px -6px rgba(143,143,143,0.92); 
}

#calories {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 50px;
}

/*---------------------- Responsive Design Section --------------------------*/

@media only screen and (max-width:400px) {
    #macros-chart-card, #micros-chart-card, #calories-card  {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
        margin: 10px 0;
        border-radius: 0;
    }
    #greeting {
      padding: 20px;
      font-size: 20px;
      margin-bottom: 0;
    }
    #instructions{
     font-size: 14px;
     margin-top: 0;
   }
   
    
}

@media only screen and (min-width:400px) and (max-width:600px){
   #greeting {
        font-size: 24px;  
   }
   #instructions{
     font-size: 14px;
   } 
}